@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #BE9270;
    font-family: "Mystery Quest", system-ui;

}

.primaryColor{
  background-color: #BE9270;
}
.secondaryColor{
  background-color: #613428;
}

/* Keyframes for the growing animation */
@keyframes growingEffect {
  0% {
    transform: scaleY(0); /* Start with height zero */
    opacity: 1;           /* Fully transparent */
  }
  100% {
    transform: scaleY(1); /* End with full height */
    opacity: 1;           /* Fully opaque */
  }
}

#growing-svg {
  animation: growingEffect 3s ease-out forwards; /* Adjust the duration (3s) as needed */
  transform-origin: top; /* Set the origin to the top */
}
